/* navbar.css */

.navbar {
    background-color: #99C087 !important; /* Light green background */
    padding: 1rem;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.8rem;
    color: white;
}

.navbar-brand img {
    max-height: 3rem;
    width: auto; 
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: #f4f4f4;
}

.search-bar {
    max-width: 300px;
    margin-left: auto; /* Push search bar to the right */
}

.search-bar input {
    border: none;
}

.search-bar button {
    background-color: white;
    color: #99C087;
    border: none;
}

.icon-links {
    display: flex;
    gap: 1rem; /* Add space between icons */
}

.icon-links i {
    color: white;
    font-size: 2rem; /* Bigger icons */
}

.icon-links i:hover {
    color: #f4f4f4;
}
/* Style for the logout button */
#logoutButton {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem; /* Same size as the other icons */
    cursor: pointer;
    display: flex;
    align-items: center;
}

#logoutButton i {
    margin-right: 5px;
}

#logoutButton:hover {
    color: #f4f4f4; /* Same hover effect as the other icons */
}


@media (max-width: 768px) {
    .icon-links {
        display: none !important;
    }

    .burger-menu {
        display: block !important;
        font-size: 30px;
        cursor: pointer;
        color: white;
        padding: 10px;
    }

    .mobile-menu {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #99C087;
        width: 200px;
        padding: 10px;
        border-radius: 5px;
    }

    .mobile-menu.show-menu {
        display: block;
    }

    .mobile-menu a {
        display: block;
        padding: 10px;
        color: white;
        text-decoration: none;
    }

    .mobile-menu a:hover {
        background-color: #88AB72;
    }
}